%h5 Contributing to SComCat

%p
  The Contribute section allows users of the SComCat tool to supply new entries for the SComCat Database.  Since the conclusion of the Next Generation Library Publishing Project (NGLP) in Spring 2022, the best way to suggest new entries or updates to existing entries in SComCat is to <a href="https://github.com/OpenTechStrategies/SComCaT/issues/new" >file a ticket here</a> or <a href="https://chat.opentechstrategies.com/#narrow/stream/2-general/topic/SComCat" >mention the suggestion here</a>.  The <a href="https://www.OpenTechStrategies.com" >current maintainers</a> will respond to and review suggestions as quickly as they can.

-#%p
-#  To contribute a revision for an existing listing in the SComCat Database, please fill out the form below.
-#%p
-#  %b Many thanks for helping us to build out this tool and resource!
-#
-#%ul
-#  %li The information submitted in this form is not recorded in the SComCat system - it will be sent to the SComCat editors by email.
-#  %li One of the SComCat editors will contact you with further instructions and a location in which you may submit the new entry data using a spreadsheet containing all of the relevant fields.
-#  %li Your name and email address will not be used for any other purpose.
-#
-#  = form_tag(feedback_path, :method => "get") do
-#    = hidden_field_tag :technology_id, nil
-#    = hidden_field_tag :calling_page, request.original_url
-#    %table.invisible-layout-table
-#      %tr
-#        %td.field-name
-#          Name:
-#        %td.field-value
-#          = text_field_tag :name
-#      %tr
-#        %td.field-name
-#          Email Address:
-#        %td.field-value
-#          = text_field_tag :email_address
-#      %tr
-#        %td.field-name
-#          Feedback:
-#        %td.field-value
-#          = text_area_tag(:body, nil,rows: 20)
-#    %div.right-aligned
-#      = submit_tag("Submit feedback!", class: "btn btn-info btn-xs form-button")